.trophies {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
}

.trophy {
    padding: 1em;
    height: 100%;
    overflow: scroll;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    border-radius: 5px;
}

.trophyImageButton {
    height: 8em;
    min-width: 5.25em;
    width: auto;
}

.trophyInformation {
    align-items: flex-start;
    gap: 0.5em;
}

.trophyInformation span {
    text-align: left;
}

.trophyName {
    font-weight: bold;
}

.trophyImageAndDescription {
    margin: 1em;
    gap: 1em;
}

.trophyImage {
    height: 90vh;
    width: auto;
    position: sticky;
    top: 4em;
}

.trophyDescription {
    width: 100%;
}

.trophyWinners {
    width: 100%;
    gap: 1em;
}

.trophySeasonAndWinners {
    padding-bottom: 1em;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    border-bottom: 1px solid var(--grey);
}

.trophySeason {
    margin-top: 1.5em;
    min-width: 5em;
    font-weight: bold;
}

.trophyStatus {
    width: 100%;
    align-items: center;
    gap: 0.5em;
}

.trophySingleStatus {
    width: 100%;
    gap: 0.25em;
}

.trophyCategory {
    font-weight: bold;
}

.trophyNomineeButton {
    padding: 0.5em;
    height: revert;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.trophyNomineeButton:hover .zoom {
    transform: scale(1.25);
}

.trophyNomineeImage {
    --size: 3em;
    height: var(--size);
    width: var(--size);
}

.trophyStatusInformation {
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25em;
}

.trophyStatusName {
    font-weight: bold;
}

.trophyStatusTeam {
    font-style: italic;
}
