.ANA {
    --color: #CF4520;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.ANA.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.ANA.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.ANA.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.ANA.border {
    border-color: var(--color);
}

.ANA.layerImage {
    background: transparent;
    filter: invert(100%);
}

.ARI,
.PHX {
    --color: #862633;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.ARI.gradient,
.PHX.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.ARI.gradient.awayTeam,
.PHX.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.ARI.gradient.homeTeam,
.PHX.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.ARI.border,
.PHX.border {
    border-color: var(--color);
}

.ARI.layerImage,
.PHX.layerImage {
    background: transparent;
    filter: invert(100%);
}

.BOS {
    --color: #FFB81C;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.BOS.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.BOS.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: black;
}

.BOS.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.BOS.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.BOS.border {
    border-color: var(--color);
}

.BOS.layerImage {
    background: transparent;
    filter: invert(0%);
}

.BUF {
    --color: #003087;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.BUF.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.BUF.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.BUF.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.BUF.border {
    border-color: var(--color);
}

.BUF.layerImage {
    background: transparent;
    filter: invert(100%);
}

.CAR {
    --color: #CD001A;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.CAR.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.CAR.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.CAR.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.CAR.border {
    border-color: var(--color);
}

.CAR.layerImage {
    background: transparent;
    filter: invert(100%);
}

.CBJ {
    --color: #041E42;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.CBJ.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.CBJ.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.CBJ.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.CBJ.border {
    border-color: var(--color);
}

.CBJ.layerImage {
    background: transparent;
    filter: invert(100%);
}

.AFM,
.CGY {
    --color: #C8102E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.AFM.gradient,
.CGY.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.AFM.gradient.awayTeam,
.CGY.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.AFM.gradient.homeTeam,
.CGY.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.AFM.border,
.CGY.border {
    border-color: var(--color);
}

.AFM.layerImage,
.CGY.layerImage {
    background: transparent;
    filter: invert(100%);
}

.CGS,
.CSE {
    --color: #009CA6;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.CGS.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator,
.CSE.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.CGS.gradient,
.CSE.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.CGS.gradient.awayTeam,
.CSE.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.CGS.gradient.homeTeam,
.CSE.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.CGS.border,
.CSE.border {
    border-color: var(--color);
}

.CGS.layerImage,
.CSE.layerImage {
    background: transparent;
    filter: invert(100%);
}

.CHI {
    --color: #C8102E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.CHI.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.CHI.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.CHI.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.CHI.border {
    border-color: var(--color);
}

.CHI.layerImage {
    background: transparent;
    filter: invert(100%);
}

.CLE,
.CBN {
    --color: #C8102E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.CLE.gradient,
.CBN.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.CLE.gradient.awayTeam,
.CBN.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.CLE.gradient.homeTeam,
.CBN.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.CLE.border,
.CBN.border {
    border-color: var(--color);
}

.CLE.layerImage,
.CBN.layerImage {
    background: transparent;
    filter: invert(100%);
}

.CLR {
    --color: #00205B;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.CLR.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.CLR.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.CLR.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.CLR.border {
    border-color: var(--color);
}

.CLR.layerImage {
    background: transparent;
    filter: invert(100%);
}

.COL {
    --color: #862633;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.COL.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.COL.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.COL.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.COL.border {
    border-color: var(--color);
}

.COL.layerImage {
    background: transparent;
    filter: invert(100%);
}

.DAL {
    --color: #00843D;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.DAL.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.DAL.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.DAL.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.DAL.border {
    border-color: var(--color);
}

.DAL.layerImage {
    background: transparent;
    filter: invert(100%);
}

.DET {
    --color: #C8102E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.DET.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.DET.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.DET.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.DET.border {
    border-color: var(--color);
}

.DET.layerImage {
    background: transparent;
    filter: invert(100%);
}

.EDM {
    --color: #00205B;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.EDM.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.EDM.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.EDM.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.EDM.border {
    border-color: var(--color);
}

.EDM.layerImage {
    background: transparent;
    filter: invert(100%);
}

.FLA {
    --color: #C8102E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.FLA.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.FLA.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.FLA.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.FLA.border {
    border-color: var(--color);
}

.FLA.layerImage {
    background: transparent;
    filter: invert(100%);
}

.HFD {
    --color: #00843D;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.HFD.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.HFD.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.HFD.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.HFD.border {
    border-color: var(--color);
}

.HFD.layerImage {
    background: transparent;
    filter: invert(100%);
}

.KCS {
    --color: #041E42;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.KCS.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.KCS.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.KCS.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.KCS.border {
    border-color: var(--color);
}

.KCS.layerImage {
    background: transparent;
    filter: invert(100%);
}

.LA,
.LAK {
    --color: #250E62;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.LA.gradient,
.LAK.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.LA.gradient.awayTeam,
.LAK.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.LA.gradient.homeTeam,
.LAK.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.LA.border,
.LAK.border {
    border-color: var(--color);
}

.LA.layerImage,
.LAK.layerImage {
    background: transparent;
    filter: invert(100%);
}

.MIN {
    --color: #154734;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.MIN.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.MIN.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.MIN.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.MIN.border {
    border-color: var(--color);
}

.MIN.layerImage {
    background: transparent;
    filter: invert(100%);
}

.MNS {
    --color: #009639;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.MNS.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.MNS.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.MNS.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.MNS.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.MNS.border {
    border-color: var(--color);
}

.MNS.layerImage {
    background: transparent;
    filter: invert(100%);
}

.MTL {
    --color: #A6192E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.MTL.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.MTL.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.MTL.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.MTL.border {
    border-color: var(--color);
}

.MTL.layerImage {
    background: transparent;
    filter: invert(100%);
}

.NJ,
.NJD {
    --color: #CD001A;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.NJ.gradient,
.NJD.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.NJ.gradient.awayTeam,
.NJD.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.NJ.gradient.homeTeam,
.NJD.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.NJ.border,
.NJD.border {
    border-color: var(--color);
}

.NJ.layerImage,
.NJD.layerImage {
    background: transparent;
    filter: invert(100%);
}

.NSH {
    --color: #FFB81C;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.NSH.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.NSH.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, white 150%);
    color: black;
}

.NSH.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.NSH.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.NSH.border {
    border-color: var(--color);
}

.NSH.layerImage {
    background: transparent;
    filter: invert(0%);
}

.NYI {
    --color: #003087;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.NYI.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.NYI.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.NYI.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.NYI.border {
    border-color: var(--color);
}

.NYI.layerImage {
    background: transparent;
    filter: invert(100%);
}

.NYR {
    --color: #0033A0;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.NYR.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.NYR.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.NYR.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.NYR.border {
    border-color: var(--color);
}

.NYR.layerImage {
    background: transparent;
    filter: invert(100%);
}

.OAK {
    --color: #00965E;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.OAK.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.OAK.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.OAK.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.OAK.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.OAK.border {
    border-color: var(--color);
}

.OAK.layerImage {
    background: transparent;
    filter: invert(100%);
}

.OTT {
    --color: #C8102E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.OTT.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.OTT.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.OTT.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.OTT.border {
    border-color: var(--color);
}

.OTT.layerImage {
    background: transparent;
    filter: invert(100%);
}

.PHI {
    --color: #FC4C02;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.PHI.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.PHI.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.PHI.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.PHI.border {
    border-color: var(--color);
}

.PHI.layerImage {
    background: transparent;
    filter: invert(100%);
}

.PIT {
    --color: #FFB81C;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.PIT.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.PIT.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: black;
}

.PIT.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.PIT.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.PIT.border {
    border-color: var(--color);
}

.PIT.layerImage {
    background: transparent;
    filter: invert(0%);
}

.QUE {
    --color: #0072CE;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.QUE.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.QUE.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.QUE.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.QUE.border {
    border-color: var(--color);
}

.QUE.layerImage {
    background: transparent;
    filter: invert(100%);
}

.SEA {
    --color: #9CDBD9;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.SEA.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.SEA.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: black;
}

.SEA.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.SEA.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.SEA.border {
    border-color: var(--color);
}

.SEA.layerImage {
    background: transparent;
    filter: invert(0%);
}

.SJ,
.SJS {
    --color: #00778B;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.SJ.gradient,
.SJS.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.SJ.gradient.awayTeam,
.SJS.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.SJ.gradient.homeTeam,
.SJS.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.SJ.border,
.SJS.border {
    border-color: var(--color);
}

.SJ.layerImage,
.SJS.layerImage {
    background: transparent;
    filter: invert(100%);
}

.STL {
    --color: #006AC6;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.STL.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.STL.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.STL.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.STL.border {
    border-color: var(--color);
}

.STL.layerImage {
    background: transparent;
    filter: invert(100%);
}

.TB,
.TBL {
    --color: #00205B;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.TB.gradient,
.TBL.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, white 150%);
    color: white;
}

.TB.gradient.awayTeam,
.TBL.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.TB.gradient.homeTeam,
.TBL.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.TB.border,
.TBL.border {
    border-color: var(--color);
}

.TB.layerImage,
.TBL.layerImage {
    background: transparent;
    filter: invert(100%);
}

.TOR {
    --color: #00205B;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.TOR.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, white 150%);
    color: white;
}

.TOR.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.TOR.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.TOR.border {
    border-color: var(--color);
}

.TOR.layerImage {
    background: transparent;
    filter: invert(100%);
}

.UTA {
    --color: #6CACE4;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.UTA.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.UTA.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.UTA.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.UTA.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.UTA.border {
    border-color: var(--color);
}

.UTA.layerImage {
    background: transparent;
    filter: invert(0%);
}

.VAN {
    --color: #00205B;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.VAN.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.VAN.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.VAN.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.VAN.border {
    border-color: var(--color);
}

.VAN.layerImage {
    background: transparent;
    filter: invert(100%);
}

.VGK {
    --color: #B9975B;
    accent-color: var(--color);
    background-color: var(--color);
    color: black;
}

.VGK.day:not(.notThisMonth, .noGame, .default) .currentDayIndicator {
    filter: invert(0%);
}

.VGK.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.VGK.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.VGK.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.VGK.border {
    border-color: var(--color);
}

.VGK.layerImage {
    background: transparent;
    filter: invert(0%);
}

.ATL,
.WIN,
.WPG {
    --color: #041E42;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.ATL.gradient,
.WIN.gradient,
.WPG.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.ATL.gradient.awayTeam,
.WIN.gradient.awayTeam,
.WPG.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.ATL.gradient.homeTeam,
.WIN.gradient.homeTeam,
.WPG.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.ATL.border,
.WIN.border,
.WPG.border {
    border-color: var(--color);
}

.ATL.layerImage,
.WIN.layerImage,
.WPG.layerImage {
    background: transparent;
    filter: invert(100%);
}

.WSH {
    --color: #C8102E;
    accent-color: var(--color);
    background-color: var(--color);
    color: white;
}

.WSH.gradient {
    background-image: linear-gradient(0deg, var(--color) 0%, black 150%);
    color: white;
}

.WSH.gradient.awayTeam {
    background-image: linear-gradient(120deg, var(--color) 0%, black 90%);
    color: white;
}

.WSH.gradient.homeTeam {
    background-image: linear-gradient(60deg, black 10%, var(--color) 100%);
    color: white;
}

.WSH.border {
    border-color: var(--color);
}

.WSH.layerImage {
    background: transparent;
    filter: invert(100%);
}
