nav {
    margin: 0 var(--nav-bar-height);
    position: fixed;
    bottom: 0;
    width: calc(100vw - 2 * var(--nav-bar-height));
    height: var(--nav-bar-height);
    z-index: 100;
}

.navBarLinks {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    list-style-type: none;
    justify-content: center;
}

.navBarLink {
    user-select: none;
}

.routerLink {
    text-decoration: none;
}

.navBarButton {
    padding: 0 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-transform: none;
    font-weight: normal;
    line-height: calc(1em - 1px);
}

.homePage {
    font-weight: bold;
}

.icon {
    margin: auto;
    min-width: calc(var(--nav-bar-height) / 2);
    min-height: 50%;
    width: 50%;
    height: 50%;
}

.pageTitle {
    width: min-content;
}

.sidebarButton {
    position: fixed;
    bottom: 0;
    min-width: var(--nav-bar-height);
    min-height: var(--nav-bar-height);
    width: var(--nav-bar-height);
    height: var(--nav-bar-height);
    border: 0;
    border-radius: 0;
    z-index: 100;
}

.hamburgerButton {
    left: 0;
}

.helpButton {
    right: 0;
}

@media (max-width: 539px) {
    .navBarLink {
        min-width: 3em;
    }
}

@media (min-width: 540px) and (max-width: 719px) {
    .navBarLink {
        min-width: 5em;
    }
}

@media (max-width: 719px) {
    nav .transparentButton {
        padding: 0 0.5em;
    }

    .pageTitle {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 70.5em) {
    nav .transparentButton {
        padding: 0 1em;
    }
}
