.homeHeader {
    height: var(--nav-bar-height);
    line-height: var(--nav-bar-height);
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: bold;
}

.todayGames {
    margin: 0 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    gap: 1em;
}

.individualGame {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.individualGame img:first-of-type {
    border-top-left-radius: 4px;
}

.individualGame img:last-of-type {
    border-top-right-radius: 4px;
}

.individualGame .gameStateAndTeamInformation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.individualGame .teamInformation {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.todayGameInformation {
    font-weight: bold;
}

.dateTimeInformation {
    padding: 0.25em 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.gameAndDate {
    width: 100%;
}

.gameBoxImage {
    min-width: 3em;
    min-height: 3em;
}

.teamRosterEvents {
    margin: 0 1em;
    gap: 1em;
}

.injuriesTradesSignings {
    width: 100%;
}

.injuriesTradesSigningsByDate {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.individualDay:not(:last-of-type) {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px dotted var(--grey);
}

.injuryTradeSigningHeader {
    font-size: 1.25em;
    font-weight: bold;
}

.injuries {
    padding: 0.5em 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
    gap: 1em;
}

.injury {
    list-style-type: none;
}

.injuryTeamAndPlayerInformation {
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.injuryHeadshot {
    --size: 6.25em;
    min-width: var(--size);
    min-height: var(--size);
    width: var(--size);
    height: var(--size);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.injuryInformation {
    padding: 0 0.5em;
    height: 100%;
    width: 100%;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.injuryDetails {
    justify-content: flex-start;
    align-items: flex-start;
}

.injuryName {
    font-weight: bold;
}

.injuryPlayerDetails {
    font-style: italic;
    gap: 1em;
}

.trades {
    padding: 0.5em 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27em, 1fr));
    gap: 1em;
}

.trade {
    width: 100%;
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.tradeTeam {
    width: 100%;
}

.tradeTeam:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tradeTeam:last-of-type {
    border-top: 1px dotted var(--grey);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tradeTeamName {
    font-weight: bold;
}

.tradeTeamLogo {
    --size: 7em;
    min-width: var(--size);
    min-height: var(--size);
    width: var(--size);
    height: var(--size);
}

.tradeTeam:first-of-type .tradeTeamLogo {
    border-top-left-radius: 4px;
}

.tradeTeam:last-of-type .tradeTeamLogo {
    border-bottom-left-radius: 4px;
}

.tradeItems {
    padding: 0 0.5em;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.tradeTeam:first-of-type .tradeItems {
    border-top-right-radius: 4px;
}

.tradeTeam:last-of-type .tradeItems {
    border-bottom-right-radius: 4px;
}

.tradeItemList {
    padding-left: 1em;
    list-style-type: disc;
    line-height: 1em;
}

.tradeItemList li {
    height: 1em;
}

.signings {
    padding: 0.5em 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    gap: 1em;
}

.signing {
    list-style-type: none;
}

.signingImageAndInformation {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    border-radius: 5px;
}

.signingLogo {
    --size: 7.25em;
    min-width: var(--size);
    min-height: var(--size);
    width: var(--size);
    height: var(--size);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.signingInformation {
    padding: 0 0.5em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25em;
}

.signingDetails {
    justify-content: flex-start;
    align-items: flex-start;
}

.signingInformationTitle {
    font-weight: bold;
}

.signingPlayerDetails {
    font-style: italic;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.loadMoreButton {
    margin: 1em 0;
}

.homePageTables {
    margin: 0 1em;
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(auto-fit, minmax(26em, 1fr));
    column-gap: 1em;
}

.homeTable {
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.homeTable th {
    position: initial;
    cursor: initial;
}

.homeTable tr {
    cursor: pointer;
}

.homeTable td {
    padding-top: 0.1875em;
    padding-bottom: 0.1875em;
}

.teamLogoAndName {
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    text-align: left;
}

.upcomingGames h2,
.injuriesTradesSignings h2,
.homePageTables h2,
.playoffTree h2 {
    text-align: center;
}

.tableAndTabs {
    border-radius: 5px;
    border: 1px solid var(--grey);
}

.tabs {
    height: 2.5em;
}

.homeTabs {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.teamTabs {
    flex-wrap: wrap;
}

.homeTabs button {
    height: 2.5em;
}

.teamTabs button:first-child {
    width: 100%;
}

.teamTabs button:not(:first-child) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.tab {
    padding: 0 0.5em;
    height: 100%;
    line-height: 1em;
    border-radius: 0;
    border: 0;
}

.homeTab {
    border-bottom: 3px solid transparent;
}

.teamTabs .homeTab:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.playerTabs:first-of-type .homeTab:first-of-type {
    border-top-left-radius: 4px;
}

.playerTabs:first-of-type .homeTab:last-of-type {
    border-top-right-radius: 4px;
}

.activeTab {
    border-bottom: 3px solid var(--tab-border-color);
}

.topTeams {
    width: 100%;
    line-height: 2.5em;
    text-align: center;
}

.playoffDetails {
    height: 2em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 3px 3px 0 0;
}

.playoffBanner .teamBackground {
    width: 50%;
    justify-content: center;
    border-radius: 0;
    box-sizing: border-box;
}

.playoffBanner .teamBackground:last-child {
    border-left: 1px solid var(--grey);
}

.playoffBanner .playoffBannerInformation {
    padding: 0.5em;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.playoffBanner img {
    --size: 6.75em;
    min-width: var(--size);
    min-height: var(--size);
    width: var(--size);
    height: var(--size);
}

.playoffGameNumberAndTime {
    gap: 1em;
}

.playoffGameInformation {
    padding: 1em 0;
    font-weight: revert;
    text-transform: revert;
}

.playoffGameInformation:not(:last-child) {
    border-bottom: 1px solid var(--grey);
}

.playoffGameTeam {
    min-width: 3em;
    text-align: center;
}

.playoffGameResult {
    align-items: center;
    gap: 0.25em;
}

.playoffGameState {
    min-width: 3em;
}

.playoffGameSeparator {
    white-space: pre;
}

.playoffGameScore {
    min-width: 1.25em;
    text-align: center;
}

.playoffTree {
    max-width: max(30em, 100vw);
}

.playoffRounds {
    margin: 1em;
    justify-content: space-between;
    gap: 2em;
    overflow: scroll;
}

.playoffRound {
    gap: 2em;
}

.playoffRound:nth-child(2),
.playoffRound:nth-child(6) {
    margin: calc(6em + 1.5px) 0;
    gap: calc(16em + 6px);
}

.playoffRound:nth-child(3),
.playoffRound:nth-child(5) {
    margin: calc(20em + 7px) 0;
}

.playoffRound:nth-child(4) {
    margin: calc(22em + 15px) 0;
}

.playoffSeries {
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid var(--grey);
}

.playoffRound:nth-child(4) .playoffTeams {
    flex-direction: row;
}

.playoffTeam {
    min-width: 8em;
    min-height: 5em;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
}

.playoffTeam img {
    --size: 5em;
    width: var(--size);
    height: var(--size);
}

.playoffRound:nth-child(5) .playoffTeam,
.playoffRound:nth-child(6) .playoffTeam,
.playoffRound:nth-child(7) .playoffTeam {
    flex-direction: row-reverse;
}

.playoffRound:not(:nth-child(4)) .playoffTeam:last-child {
    border-top: 1px solid var(--grey);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.playoffRound:nth-child(4) .playoffTeam:last-child {
    border-left: 1px solid var(--grey);
}

.playoffRound:nth-child(4) .playoffTeam:last-child,
.playoffRound:nth-child(-n + 3) .playoffTeam:last-child .playoffInformation {
    border-bottom-right-radius: 3px;
}

.playoffRound:nth-child(4) .playoffTeam:first-child,
.playoffRound:nth-child(n + 5) .playoffTeam:last-child .playoffInformation {
    border-bottom-left-radius: 3px;
}

.playoffRound:nth-child(4) .playoffTeam:last-child .playoffInformation {
    order: -1;
}

.playoffRound:not(:nth-child(4)) .playoffTeam:last-child .playoffInformation,
.playoffRound:not(:nth-child(4)) .playoffTeam:last-child .playoffTeamInformation {
    flex-direction: column-reverse;
}

.playoffInformation {
    padding: 0.5em;
    width: 2em;
    height: 4em;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.playoffTeamInformation {
    justify-content: center;
    align-items: center;
}

.playoffTeamAbbreviation {
    font-weight: bold;
}

.playoffPosition {
    font-style: italic;
}

.playoffScore {
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

@media (max-width: calc(82em - 1px)) {
    .homePageTables {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1279px) {
    .teamRosterEvents {
        flex-wrap: wrap;
    }

    .playoffRounds {
        gap: 0.5em;
    }

    .playoffRound {
        gap: 0.5em;
    }

    .playoffRound:nth-child(2),
    .playoffRound:nth-child(6) {
        margin: calc(5.25em + 2.5px) 0;
        gap: calc(13em + 5px);
    }

    .playoffRound:nth-child(3),
    .playoffRound:nth-child(5) {
        margin: calc(18.25em + 1.5px) 0;
    }

    .playoffRound:nth-child(4) {
        margin: calc(20.75em + 2.5px) 0;
    }
}

@media (min-width: 1280px) {
    .injuriesTradesSignings:not(:last-of-type) {
        padding-right: 1em;
        border-right: 2px dotted var(--grey);
    }
}
