.draftTable tr {
    cursor: pointer;
}

.draftTable td:has(.draftNotes) {
    max-width: 10em;
}

.draftTable button {
    padding: 0 0.25em;
}

.draftTable .draftTeam {
    font-family: monospace;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

.draftTable .draftImage {
    --size: 2em;
    width: var(--size);
    height: var(--size);
    line-height: 1em;
}

.draftLegend dt {
    min-width: 5em;
}
